@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body{
    overflow-x:hidden ;
    font-family: 'Lato', sans-serif;
    color: #505962;
}
.offset:before{
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}

/*----------------> Navbar*/
.navbar{
    text-transform:uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,.6)!important;
}
.navbar-brand img{
    height: 3rem;
}

.navbar-nav li{
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .7rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #66bee5/*#1ebba3*/;
}
/*--------------- > slider*/
.carousel-item{
    height: 100vh;
}
.carousel-caption{
    position: absolute;
    top: 38%;
    text-transform: uppercase;
    /* width:100%;
     left: 0;
     right: 0;*/
}
.carousel-caption h1{
    font-size: 3.7rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.carousel-caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem ;
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
}



/*------------- > course section */
.narrow {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.btn-md {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin: 1rem;
}

.jumbotron{
    border-radius: 0;
    padding: 3rem 0 2rem;
    margin-bottom: 0;
}
h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.9rem;
}
.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: #66bee5;
    margin: 0 auto 2rem;
}
/* --- > Portfolio */
.portfolio img{
    max-width: 100%;
    transition: transform .5s ease;
}
[class*=col-] {
    padding: 0;
}
.portfolio img:hover{
    transform:scale(1.1) ;
    cursor: zoom-in;
}
.portfolio {
    overflow: hidden;
}
.card{
    margin: 3rem;
}
footer{
    background-color: #40474e;
    color: white;
    padding: 2rem 0 3rem;
    margin-top: 1rem;
}
footer img{
    height:5rem;
    margin: 1.5rem 0;
}

footer a{
    color: white;
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}
footer a:hover{
    color:#66bee5;
}
hr.socket{
    border-top: .2rem solid #666b71;
    width: 100%;
}
/*--- media Quaries */
@media (max-width: 767px) {
    .carousel-caption h1{
        font-size: 1.6rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .carousel-caption h3 {
        font-size: 1rem;
        padding-bottom: 1.2rem ;
    }
    .btn-lg{
        font-size: 1rem;
    }
    .narrow h1{
        font-size: 1.5rem;
    }
    p.lead{
        font-size: 1rem;
    }
}